v class="alert alert-info text-center" role="alert">
                            <%= profileUser.fullName %> ainda não postou nenhum vídeo.
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>